<h1>Weights!</h1>

<div id="error-container">
    <table id="error-table"></table>
</div>

<div id="table-container">
    <table>
        <thead>
            <tr>
                <th>Exercise</th>

                <th>Reps</th>

                <th>Weight</th>

                <th>Units</th>

                <th>Date</th>

                <th></th>

                <th></th>
            </tr>
        </thead>

        <tbody id="tbody"></tbody>
    </table>
</div>